*
	box-sizing: border-box
	margin: 0
	padding: 0

body
	min-height: 100vh
	overflow-x: hidden
	font-family: 'Inter'

a
	text-decoration: none

button
	border: none
	outline: none
	background: none

ol, ul
	list-style: none